$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #5dc27c;
