// Fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

h1 {

}

section.predict {
    padding-top: 50px;
}

.vue-dropzone {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed #aaa;
    border-radius: 5px;

    &.dz-drag-hover {
        border-color: $primary-color;
        background-color: rgba($primary-color, 0.1);
    }
}

.results-headline {
    margin-top: 20px;
    text-align: center;
}

.results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    .result-container {
        display: flex;
        justify-content: center;
    }

    .result {
        display: inline-flex;
        background-color: white;
        border: 1px solid #aaaaaa;
        padding: 10px;
        margin-bottom: 20px;

        .class {
            margin-bottom: 7px;
        }

        .class.top-1 {
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.dataset-ul {
    list-style: none;
    padding: 0;
    border-right: 1px solid #ddd;

    li {
        background-color: white;
        cursor: pointer;
        padding: 10px 20px;

        &:last-of-type {
            border-bottom: 1px solid #ddd;
        }

        &.active {
            background-color: rgba($primary-color, 0.1);
        }
    }
}

.dataset-container {
    border: 1px solid #ddd;
}

.examples {
    display: flex;
    flex-wrap: wrap;

    .example {
        width: 100px;
        height: 100px;
        margin: 20px;
        border: 1px solid #ddd;
        background-color: white;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            .remove {
                display: block;
            }
        }

        .remove {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            background-color: rgba(0,0,0,0.2);
            color: white;
            width: 20px;
            text-align: center;
        }
    }
}
