
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding: 0;
  margin: 0;
}

h1 {

}

section.predict {
  padding-top: 50px;
}

.vue-dropzone {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #aaa;
  border-radius: 5px;

  &.dz-drag-hover {
    border-color: $primary-color;
  }
}